body {
 
   /*background-image: url('https://image.freepik.com/free-vector/blackjack-logo-with-green-ribbon-green-background-isolated-card-game-casino-game_193165-1.jpg');*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(75, 173, 75);
    
  }
  
  #table {
    position: relative;
    
  }
  
  #dealer{
    box-sizing: border-box;
    padding-left:156px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 294px;
    position: relative;
    width:100%;
    justify-content: center;
    
  }
  
  #deck{
    top:175px;
    left:600px;
    z-index: 10;
    position: absolute;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    padding:2px;
    background-color: #F6F7EB;
    -webkit-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    
    
  }
  
  .card {
    font-family: 'Arbutus Slab', serif;
    position: relative;
    width: 120px;
    height: 180px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 28px;
    padding:2px;
    background-color: #F6F7EB;
    display: flex;
    -webkit-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    -moz-box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    box-shadow: 2px -2px 9px -1px rgba(0,0,0,1);
    margin:15px;
  }
  
  .back {
    
    background-image: url('https://www.freeimageslive.com/galleries/sports/sportsgames/pics/deck_of_cards.jpg');
  
    background-size: 15px 30px;
    width:96%;
    height: 98%;
    margin: 1% auto;
    border-radius: 5px;
    
  }
  
  .diamonds, .hearts {
    color:#E94F37;
  }
  
  .spades, .clubs {
    color:#393E41;
  }
  
  .rank {
    position: absolute;
    width:30px;
    height: 28px;
  }
  
  .top {
    top: 2px;
    left: 2px;
  }
  
  .bottom {
    bottom:0;
    right: 2px;
    text-align: right;
  }
  
  .suit {
    margin:auto;
    font-size: 60px;
  }
  
  .border-line {
    border:3px dashed #F6F7EB;
    opacity: 0.4;
    margin: 35px 0;
  }
  
  .score {
   
    position: relative;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    color: #F6F7EB;
    opacity: 0.6;
    font-size: 30px;
    font-weight: bold;
    z-index:10;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 1);
  }
  
  
  /* footer */
  #panel {
    
    text-align: center;
    position: absolute;
    
    width: 100%;
    
    display : table-row;
      vertical-align : bottom;
      height : 100px;
      
  
  
  }
  
  #status {
    padding-top: 10px;
    text-align: center;
    font-family: 'Quicksand',sans-serif;
    color: white;
    background-color: #222222;
    position: relative;
    opacity: 0.7;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 10;
    
  }
  
  /* buttons */
  button {
    border:none;
    border-radius: 15px;
    padding: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    margin: 30px;
    color: #fafafa;
    position: relative;
    display: inline-block;
    font-family: consolas;
    cursor: pointer;
    letter-spacing: 2px ;
    
    
  }
  
  button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
   
  }
  
  .blue {
    background-color: #55acee;
    
    
    
  }
  
  .blue:hover {
    background-color: #6FC6FF;
  }
  
  .green {
    background-color: #2ecc71;
    
  }
  
  .green:hover {
    background-color: #48E68B;
  }
  
  .red {
    background-color: #e74c3c;
  }
  
  .red:hover {
    background-color: #FF6656;
  }
  
  .Black {
    background-color: #050505;
  }
  
  .Black:hover {
    background-color: #222222;
  }
  
  .yellow {
    background-color: yellowgreen
  }
  
  .yellow:hover {
    background-color: #9ce62a;
  }
  
  button:disabled {
    background-color: #999;
  
  }
  
  button:disabled:hover {
    background-color: #999;
  }
  
  button:disabled:active {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    box-shadow: 0px 5px 0px 0px #AAA;
  }
  #player-score{
      color:black;
  }
  #player-coins{
    color:black;
}
#dealer-score{
    color:black;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}
